<p>
<strong>Created Word:</strong>
<%= @word.title %>
</p>

<p>
<strong>Meaning:</strong>
<%= @word.text %>
</p>

<p>
	<strong>Tag:</strong>
	<%= @word.number %>
</p>

<%= link_to 'Go to List', words_index_path %>
